In [5]:
import os
csvs = [file for file in os.listdir() if file.endswith('csv') and not file.startswith('wait')]

In [6]:
csvs

['download_racethroughnewyorkstarringjimmyfallon_jan_12037_2023_12_16_17_02_10.csv',
 'download_hogwartsexpresskingscrossstation_jan_12037_2023_12_16_17_04_21.csv',
 'download_fastfurioussupercharged_jan_12037_2023_12_16_17_05_04.csv',
 'download_revengeofthemummy_jan_12037_2023_12_16_17_01_29.csv',
 'download_despicablememinionmayhem_jan_12037_2023_12_16_17_06_19.csv',
 'download_harrypotterandtheescapefromgringotts_jan_12037_2023_12_16_17_00_48.csv',
 'download_transformerstherided_jan_12037_2023_12_16_16_59_26.csv',
 'download_meninblackalienattack_jan_12037_2023_12_16_17_02_44.csv',
 'download_etadventure_jan_12037_2023_12_16_16_58_50.csv',
 'download_hollywoodripriderockit_jan_12037_2023_12_16_17_03_40.csv',
 'download_thesimpsonsride_jan_12037_2023_12_16_17_00_04.csv']

In [7]:
import pandas as pd
from datetime import datetime

In [8]:
data = pd.DataFrame()

for csv in csvs:
    
    df = pd.read_csv(csv, header=None)
    df = df[1:]
    df.columns = ['attraction', 'datetime', 'wait']
    df['datetime'] = pd.to_datetime(df['datetime'], format='%Y-%m-%d %H:%M:%S')
    df['datetime'] = df['datetime'].apply(lambda x: datetime(x.year, x.month, x.day, x.hour, x.minute))
    df['time'] = df['datetime'].dt.time
    df['wait'] = df['wait'].astype(int)
    df.drop(columns=['datetime'], inplace=True)

    data = pd.concat([data, df], axis=0)

In [9]:
import numpy as np
data['time'] = data['time'].astype(str)
data = data.groupby(['attraction', 'time'])['wait'].mean().reset_index()
data

                       attraction      time   wait
0     Despicable Me Minion Mayhem  00:00:00  16.25
1     Despicable Me Minion Mayhem  00:05:00  16.25
2     Despicable Me Minion Mayhem  00:10:00  16.25
3     Despicable Me Minion Mayhem  00:15:00  16.25
4     Despicable Me Minion Mayhem  00:20:00  16.25
...                           ...       ...    ...
2571            The Simpsons Ride  23:35:00  18.75
2572            The Simpsons Ride  23:40:00  18.75
2573            The Simpsons Ride  23:45:00  18.75
2574            The Simpsons Ride  23:50:00  18.75
2575            The Simpsons Ride  23:55:00  18.75

[2576 rows x 3 columns]

In [10]:
data = data.pivot(columns='attraction', values='wait', index='time')
data = data.loc['09:00:00':'21:00:00']
data

attraction,Despicable Me Minion Mayhem,E.T. Adventure,Fast & Furious - Supercharged,Harry Potter and the Escape from Gringotts,Hogwarts Express - King's Cross Station,Hollywood Rip Ride Rockit,MEN IN BLACK Alien Attack,Race Through New York Starring Jimmy Fallon,Revenge of the Mummy,TRANSFORMERS: The Ride-3D,The Simpsons Ride
time,,,,,,,,,,,
09:00:00,16.772152,12.142857,12.534247,15.714286,12.368421,8.095238,6.111111,6.600000,10.813953,9.142857,11.444444
09:05:00,20.229885,11.621622,11.463415,15.704225,12.421875,8.548387,6.384615,6.250000,11.354167,8.987342,11.071429
09:10:00,25.113636,12.500000,11.264368,15.576923,12.461538,8.378378,6.764706,6.265060,11.808511,9.107143,11.147541
09:12:00,40.000000,10.000000,10.000000,NaN,10.000000,5.000000,5.000000,10.000000,10.000000,5.000000,10.000000
09:15:00,30.274725,12.432432,11.666667,18.271605,12.575758,11.354167,6.739130,6.477273,12.127660,9.647059,11.515152
...,...,...,...,...,...,...,...,...,...,...,...
20:40:00,34.772727,19.166667,27.200000,43.076923,20.909091,51.666667,17.272727,21.944444,38.684211,36.296296,19.800000
20:45:00,34.130435,18.541667,26.600000,41.346154,20.909091,50.476190,16.739130,21.111111,38.157895,35.370370,19.400000
20:50:00,33.181818,18.800000,27.708333,38.000000,21.190476,52.000000,17.272727,20.000000,38.333333,29.807692,18.125000
20:55:00,31.739130,17.708333,26.600000,35.740741,20.909091,50.238095,16.956522,20.555556,35.263158,27.222222,17.600000
21:00:00,31.428571,17.272727,27.826087,31.800000,20.250000,52.631579,16.666667,16.666667,32.941176,27.500000,17.173913

In [11]:
data.to_csv('wait.csv')